@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:wght@400;500&display=swap');

/*fast section start*/
body {
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.color {
    color: orange;
}

.flexebal-contenar {
    display: flex;
    padding-bottom: 150px;
}

.flexebal-contenar img {
    width: 74%;
    padding-left: 19%;
}

h1 {
    font-size: 60px;
    color: rgb(77, 77, 77);
}

.text {
    width: 60%;
    padding-left: 8%;
    padding-top: 10%;
    color: gray;
}

.text p {
    font-size: 26px;
}

.btn {
    background-image: linear-gradient(tomato, orange);
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}

/*fast section End*/
/*Scend section Start*/
.flexebal-contenar-2 {
    display: flex;
    padding-bottom: 2%;
}

.about-bg {
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flexebal-contenar-2 img {
    width: 45%;
    padding-left: 32%;
    padding-top: 6.9%;
}

.text-2 {
    width: 32%;
    padding-top: 10%;
    color: gray;
}

.text-2 p {
    font-size: 26px;
}

/*Scend section End*/
/*Thard section start*/
.text-3 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;

}

.text-3 p {
    font-size: 26px;
    padding-left: 26%;
    padding-right: 26%;
}

.h1 {
    font-size: 40px;
}

.flexebal-contenar-3 {
    padding-bottom: 150px;
}

/*Card Style*/
.full-card {
    display: flex;
    justify-content: center;
}

.card-1 {
    width: 30%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 30px;
    margin-right: 5%;

}

.card-2 {
    width: 30%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 30px;
}

.card-img img {
    width: 100%;
}

.card-text {
    text-align: center;
    padding: 10px;
}

/*Card Style End*/
/*Counter*/
.padding-bg {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.holl-bg {
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 40px gray;
    width: 80%;
    border-radius: 20px;


}

.counter-1 {
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    text-align: center;
}

.counter-1 p {
    font-size: 20px;
    text-align: center;
}
/*Number Counter End*/
/*footer Start*/
h2{
    font-size: 40px;
}
.footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 120px;
    color: white;
    background-color: rgb(5, 4, 8);
}
.footer p{
    font-size: 20px;
}
.footer span{
    color: orange;
}
/*footer End*/